<!DOCTYPE html>
<html>
  <head>
    <title><%= redatores %></title>
    <link rel='stylesheet' href='/projetoIntegradorSiteRedatores/public/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= redatores %></h1>
    <p>Welcome to <%= redatores %></p>
  </body>
</html>
