<!DOCTYPE html>
<html>
  <head>
    <title><%= servicos %></title>
    <link rel='stylesheet' href='/projetoIntegradorSiteRedatores/public/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= servicos %></h1>
    <p>Welcome to <%= servicos %></p>
  </body>
</html>